.third{
    background-color: brown;
    text-align: center;
    margin: 5%;
    border: 2px solid black;
   padding: 5px;
    border-radius: 10px;
    
}
.lorem{
    background-color: tomato;
    text-align: center;
    margin: 5%;
    border: 20px solid black;
    border-radius: 10px;
    padding: 5%;
}
.lorem p{
    color: blue;
    text-align: justify;
}